
/*Changes colors of buttons that are disabled*/
.disabled {
    color: #999;
}
#table {
	background-image: url(table.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 1000px;
	height: 500px;
	background-size: 100% 100%;
}
#playerSide{
	padding-top: 10px;
	margin:auto;
}

.outline{ width: 110px; text-align: center; padding: 10px; margin: 10px; background: #FFF;box-shadow: 1px 1px 3px #000; border-radius:10px;display: inline-block; }


.front {
  background: white;
}

.backOfCard {
	display: none;
	background: red;
}

.top{ 
  text-align: left; 
}
.bottom{ 
  text-align: right; 
}
.middle{
	height: 60px;
	text-align: center;
}
.black{
	color:black;
}
.red{
	color:red;
}
/*Covers the card by setting text and background red*/
.back{
	background: red;
	color: red;
}