
/*Changes colors of buttons that are disabled*/
.disabled {
    color: #999;
}
#table {
	background-image: url(table.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 81vw;
	height: 63vh;
	background-size: 100% 100%;
	border-radius:10px;
	box-shadow: 1px 1px 3px #000;
}
#playerSide{
	padding-top: 10px;
	margin:auto;
}
.outline{ 
	width: 110px; 
	text-align: center; 
	padding: 10px; 
	margin: 10px; 
	background: #FFF;
	box-shadow: 1px 1px 3px #000;
	border-radius:10px;
	display: inline-block; 
}
.front {
  background: white;
}
.playerDisplay{
	height:180px;
}
.top{ 
  text-align: left; 
}
.bottom{ 
  text-align: right; 
}
.middle{
	height: 60px;
	text-align: center;
}
/*colors for word display*/
.black{
	color:black;
}
.red{
	color:red;
}
.white{
	color: white;
}
/*Covers the card by setting text and background red*/
.back{
	border: 2px solid white;
	background: red;
	color: red;
}
/*For introduction display with border*/
.intro{
	box-shadow: 1px 1px 3px #000;
	border-radius:10px;
	border: 2px solid #475657;
	background-color: #CAFFD0;
	height: 63vh;
}
body{
	background-color: #E6FAFC; 
}
.titleJumbo{
	background-image: url(blackjacktitle.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: black;
	box-shadow: 1px 1px 3px #000;
	border-radius:10px;
	border: 2px solid #475657;
	background-size: 100% 100%;
	height: 200px;
}
/*Play button styling */
#playGame{
	text-align: center;
	padding-top: 1vh;
}
#playButton{
	border-radius: 50%;
	 box-shadow: 0 9px #999;
	 background-color: #A0EEC0;
	 font-size: 24px;
	 cursor: pointer;
	 border: 2px solid #475657;
}
#playButton:hover{
	background-color: #3e8e41;
	color:white;
}
#playButton:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#playerStats{
	padding-top: 15px;
}
#result{
	padding-top: 15px;
}
/*center text*/
.textCenter{
	text-align: center;
}
.inLine{
	display: inline; 
}
/*score name input styling*/
#playerName{
	width: 10vw;
	margin-left: 21vw;
}
#nameSubmit{
	margin-right: 21vw;
}
.input-group{
	padding-top: 1vh;
}
#highscores{
	margin-top: 1vh;
}
/*.center { text-align: center; list-style-position:inside;}*/
ol{
	margin-left: 19vw;
}
ol li{
	text-align: left;
	padding-top: 1vh;
	margin-right: 26vw; 
	width: 300px;
}
#scoreboard{
	padding-top: 1vh;
}
/*Player bar containing user info and info*/
/*.playerBar{
	box-shadow: 1px 1px 3px #000;
	border-radius:10px;
	border: 2px solid #475657;
	background-color: #CAFFD0;
}*/


